<div class="dashbaord-wrapper">

  <div class="row mx-0 p-0">
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 mb-2 ">
      <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
        <div>
          <p class="fs-6 fw-light m-0">Total Tenant</p>
          <p class="fs-5 fw-bold m-0">{{total_tenant}}</p>
        </div>
        <i class="bi bi-person fs-3 text-danger"></i>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 mb-2 ">
      <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
        <div>
          <p class="fs-6 fw-light m-0">Profit</p>
          <p class="fs-5 fw-bold m-0">$278279</p>
        </div>
        <i class="bi bi-cash fs-3 text-success"></i>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 mb-2 ">
      <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
        <div>
          <p class="fs-6 fw-light m-0">Room Available</p>
          <p class="fs-5 fw-bold m-0">10/{{total_rooms}}</p>
        </div>
        <i class="bi bi-check2-circle fs-3 text-info"></i>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 mb-2 ">
      <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
        <div>
          <p class="fs-6 fw-light m-0">Pending Rent</p>
          <p class="fs-5 fw-bold m-0">{{total_pending_rent}}</p>
        </div>
        <i class="bi bi-clock-history fs-3 text-danger"></i>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 mb-2 ">
      <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
        <div>
          <p class="fs-6 fw-light m-0">Pend. Compl.</p>
          <p class="fs-5 fw-bold m-0">{{total_pending_complaints}}</p>
        </div>
        <i class="bi bi-ticket-detailed fs-3 text-warning"></i>
      </div>
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 mb-2 ">
      <div class="shadow-sm card-theme-color my-dashboard-card rounded px-2 py-2 d-flex justify-content-between">
        <div>
          <p class="fs-6 fw-light m-0">Maint. Request</p>
          <p class="fs-5 fw-bold m-0">23</p>
        </div>
        <i class="bi bi-tools fs-4 text-danger"></i>
      </div>
    </div>
  </div>


  <div class="row">

    @for(items of room_pi_data; track $index){

    }@empty(){

    }

  </div>


  <!--The content below is only a placeholder and can be replaced.-->
  <div id="chart" class="row mx-0 mt-3 ">
    <div class="col-md-6 col-lg-8 col-sm-12 mb-3">
      <div id="chart" class="pe-1 card-theme-color text-black rounded">
        <apx-chart [series]="barchartOptions.series" [chart]="barchartOptions.chart"
          [dataLabels]="barchartOptions.dataLabels" [plotOptions]="barchartOptions.plotOptions"
          [responsive]="barchartOptions.responsive" [xaxis]="barchartOptions.xaxis" [legend]="barchartOptions.legend"
          [fill]="barchartOptions.fill"></apx-chart>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-6 mb-3">
      <div class="pe-1 card-theme-color text-black rounded ">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"></apx-chart>
        Sn pg
      </div>
    </div>
  </div>

</div>