<div class="body-theme-color">

    <h2 class="mb-0">Settings</h2>
    <p class="fs-14">Manage your account settings and preferences</p>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active fs-11" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Application</button>
            <button class="nav-link fs-11" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Payment</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="row mx-0">

                <div class="col-md-12 mb-3">
                    <label for="applicationLogoId" class="form-label mb-2">Application logo</label>
                    <input id="applicationLogoId" type="file" class="form-control form-control-sm">
                </div>

                <div class="col-md-2">

                    <button class="my-btn-size primary"><i class="bi bi-check2"></i> Save</button>
                </div>


            </div>

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            <div class="row mx-0">


                <div class="col-md-12 mb-3">
                    <label for="razorpayId" class="form-label mb-2">Razor pay api key</label>
                    <input id="razorpayId" type="text" class="form-control form-control-sm" placeholder="api key">
                </div>

                <div class="col-md-12 mb-3">
                    <label for="razorpayId" class="form-label mb-2">Razor pay api key</label>
                    <input id="razorpayId" type="text" class="form-control form-control-sm" placeholder="api key">
                </div>

                <div class="col-md-2">
                    <button class="my-btn-size primary"><i class="bi bi-check2"></i> Save</button>
                </div>


            </div>

        </div>
    </div>


</div>